.firstLevel {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 20px;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  // line-height: 25px;
  outline-offset: -1px;
  margin-top: 10px;
  &:hover {
    color: var(--primary);
    & svg {
      fill: var(--primary);
    }
  }
}

.firstLevelList {
  list-style: none;
  padding: 0;
}

.firstLevelActive {
  color: var(--primary);
  & svg {
    fill: var(--primary);
    &:hover {
      color: var(--primary);
    }
  }
}

.secondLevel {
  margin-bottom: 10px;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--gray-dark);
  font-weight: 300;
  font-size: 12px;
  // line-height: 16px;
  outline-offset: -1px;
  background: none;
  border: none;
  padding: 0;
}

.secondBlock {
  margin-top: 15px;
  margin-left: 12px;
  padding: 0 0 0 32px;
  border-left: 1px solid #DFDFDF;
  list-style: none;
}

.secondLevelBlock {
  list-style: none;
  padding: 0;
  overflow: hidden;
}

// .secondLevelBlockOpened {
//   display: block;
//   &:last-child {
//     margin-bottom: 20px;
//   }
// }

.thirdLevel {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  color: var(--gray-dark);
  font-weight: 500;
  font-size: 14px;
  // line-height: 19px;
  outline-offset: -1px;
  &:hover {
    color: var(--primary);
  }
}

.thirdLevelActive {
  color: var(--primary);
}